<!DOCTYPE html>
<html lang="en">

<head>
    <title>Drone Parking Enforcement</title>

    <link href='//fonts.googleapis.com/css?family=Lato:400,900,700,300,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
    <link href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.1/fonts/fontawesome-webfont.woff' rel='stylesheet' type='text/css'>
    <link href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.1/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/foundation.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/leaflet.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/citations/citations.css') }}" type="text/css">
</head>

<body>
    <div class="min-vh off-canvas-wrapper">
        <div class="min-vh off-canvas-wrapper-inner" data-off-canvas-wrapper>
            <div id="off-canvas-sidebar" class="min-vh off-canvas position-left" data-off-canvas>
                <div class="row sidemap">
                    <div class="column small-12">
                        <div id="citation-app-map">

                        </div>
                    </div>
                </div>

                <div class="row sidepanel">
                    <hr/>
                    <div class="column small-12 medium-8">
                        <span class="label">Citation Search</span>
                        <form id="citation-app-search">
                            <label>Start Date &amp; Time
                                <input type="datetime-local" name="start_datetime">
                            </label>
                            <label>End Date &amp; Time
                                <input type="datetime-local" name="end_datetime">
                            </label>
                            <label>License Plate
                                <input type="text" name="license_plate">
                            </label>
                            <a id="citation-search-submit" class="tiny button">View</a>
                            <a id="citation-search-reset" class="tiny button">Reset</a>
                        </form>
                    </div>
                    <div class="column small-12 medium-4">
                        <span class="label">Show&#47;Hide Items</span>
                        <ul id="citation-app-controls" class="menu vertical expanded">
                            <li><a id="citation-control-toggle-verified" class="tiny button success">Verfied</a></li>
                            <li><a id="citation-control-toggle-dismissed" class="tiny button alert">Dismissed</a></li>
                            <li><a id="citation-control-toggle-delegate-to" class="tiny button warning">Delegated</a></li>
                            <li><a id="citation-control-toggle-evidence" class="tiny button secondary">Evidence</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div id="citation-app-topbar">
                <div class="top-bar-left">
                    <a data-toggle="off-canvas-sidebar">
                        <i class="fa fa-2x fa-caret-left"></i>
                        <span>&nbsp;</span>
                        <i class="fa fa-2x fa-search"></i>
                    </a>
                </div>
                <div class="top-bar-right">
                    <ul class="menu">
                    <li><a>Admin</a></li>
                    <li><a>Sign Out</a></li>
                    </ul>
                </div>
            </div>


            <div class="row" id="citation-app-container" class="off-canvas-content" data-off-canvas-content>

            </div>
        </div>
    </div>

    {% raw %}
    <script type="x-tmpl-mustache" id="template-citation">
        <div class="row citation hideable {{ #status.verified }}verified{{ /status.verified }} {{ #status.dismissed }}dismissed{{ /status.dismissed }} {{ #status.delegate_to }}delegate-to{{ /status.delegate_to }}" id="citation-{{ citation_id }}">
            <hr/>
            <div class="column small-12">
                <div class="row">
                    <div class="column small-12 medium-4 plate">
                        <img class="capture" src="{{ plate_image_url }}"/>
                        {{ #plate.candidates }}
                            <span class="license-plate-text">{{ license_plate }}</span>
                        {{ /plate.candidates }}
                    </div>
                    <div class="column small-12 medium-8">
                        <div class="row">
                            <div class="column small-12 medium-8 actions">
                                <div class="info status-left-border {{ #status.verified }}verified{{ /status.verified }} {{ #status.dismissed }}dismissed{{ /status.dismissed }} {{ #status.delegate_to }}delegate-to{{ /status.delegate_to }}">
                                    <span class="citation-title">Citation &#35;{{ citation_id }}</span><br/>
                                    <span class="citation-time">{{ plate_human_time }}</span><br/>
                                    <a class="map-coords tiny button secondary" data-open="off-canvas-sidebar" data-longitude="{{ plate.coordinates.longitude }}" data-latitude="{{ plate.coordinates.latitude }}"><i class="fa fa-map-marker"></i>&nbsp;&#40;{{ plate.coordinates.longitude }}&#44; {{ plate.coordinates.latitude }}&#41;</a><br/>
                                </div>
                                <hr/>

                                {{ ^is_actionable }}
                                <span class="citation-note">
                                    This citation is not actionable because
                                    {{ #status.verified }}it is already verified.{{ /status.verified }}
                                    {{ #status.dismissed }}it is already dismissed.{{ /status.dismissed }}
                                    {{ #status.delegate_to }}it delegates to another citation.{{ /status.delegate_to }}
                                </span><br/>
                                {{ /is_actionable }}

                                {{ #is_actionable }}
                                <a class="button action-verify">Verify Citation</a>
                                <a class="button action-dismiss">Dismiss Citation</a>
                                {{ /is_actionable }}

                                {{ ^can_delegate_to }}
                                <span class="citation-note">
                                    This citation cannot delegate to another citation because
                                    {{ #status.verified }}it is already verified.{{ /status.verified }}
                                    {{ #status.dismissed }}it is already dismissed.{{ /status.dismissed }}
                                    {{ #status.delegate_to }}it already delegates.{{ /status.delegate_to }}
                                    {{ #status.delegations }}it must serve as a delegate itself.{{ /status.delegations }}
                                </span><br/>
                                {{ /can_delegate_to }}

                                {{ #can_delegate_to }}
                                <a class="button" data-toggle="dropdown-delegate-form-citation-{{ citation_id }}">Delegate Citation</a>
                                <div class="dropdown-pane" id="dropdown-delegate-form-citation-{{ citation_id }}" data-dropdown data-hover="true" data-hover-pane="true">
                                    <div class="input-group">
                                        <span class="input-group-label">Citation #</span>
                                        <input class="input-group-field delegate-to" type="number">
                                        <div class="input-group-button">
                                            <input type="submit" class="button action-delegate-to" value="Submit">
                                        </div>
                                    </div>
                                </div>
                                {{ /can_delegate_to }}
                            </div>
                            <div class="column small-12 medium-4 statuses">
                                {{ #status.verified }}
                                <div class="small callout success">
                                    <span class="status">This citation has been verified.</span><br/>
                                    <hr/>
                                    <a class="button tiny revoke-verify">Revoke Verification</a>
                                </div>
                                {{ /status.verified }}

                                {{ #status.dismissed }}
                                <div class="small callout alert">
                                    <span class="status">This citation has been dismissed.</span><br/>
                                    <hr/>
                                    <a class="button tiny revoke-dismiss">Revoke Dismissal</a>
                                </div>
                                {{ /status.dismissed }}

                                {{ #status.delegate_to }}
                                <div class="small callout warning">
                                    <span>This citation delegates to <a href="#{{ . }}">Citation &#35;{{ . }}</a>.</span><br/>
                                    <hr/>
                                    <a class="button tiny revoke-delegate-to">Remove Delegationn</a>
                                </div>
                                {{ /status.delegate_to }}

                                {{ #status.delegations }}
                                <div class="small callout secondary">
                                    <span>This citation has been delegated by <a href="#{{ . }}">Citation &#35;{{ . }}</a>.</span>
                                </div>
                                {{ /status.delegations }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row small-up-2 medium-up-3 large-up-4 evidence">
                {{ #evidence }}
                    <div class="column">
                        <span class="citation-time-small"><i class="fa fa-fw fa-camera"></i>&nbsp;{{ context_human_time }}</span><br/>
                        <img class="capture" src="{{ context_capture_url }}"/>
                        {{ #candidates }}
                        <span class="license-plate-text">{{ license_plate }}</span>
                        {{ /candidates }}
                    </div>
                {{ /evidence }}
                </div>
            </div>
        </div>
    </script>
    {% endraw %}

    <script src="{{ url_for('static', filename='js/vendor/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/foundation.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/leaflet.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/mustache.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/citations/mapbox.js') }}"></script>
    <script src="{{ url_for('static', filename='js/citations/utils.js') }}"></script>
    <script src="{{ url_for('static', filename='js/citations/citations.js') }}"></script>
    <script src="{{ url_for('static', filename='js/citations/app.js') }}"></script>
</body>

</html>
