<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Based off of the Bootstrap Creative Template">
    <meta name="author" content="Mark Machado">

    <title>Drone Parking Enforcement</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../static/font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="../static/css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../static/css/creative.css" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Drone Parking Enforcement</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
<!--                     <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li> -->
                    <li>
                        <a class="page-scroll" href="#more-details">More Details</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                {% macro render_field(field, label_visible=true) -%}
                     <div class="form-group {% if field.errors %}has-error{% endif %} {{ kwargs.pop('class_', '') }}">
                        {% if field.type != 'HiddenField' and label_visible %}
                            <label for="{{ field.id }}" class="control-label">{{ field.label }}</label>
                        {% endif %}
                        {{ field(class_='form-control', **kwargs) }}
                        {% if field.errors %}
                            {% for e in field.errors %}
                                <p class="help-block">{{ e }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                {%- endmacro %}

                {% macro render_form(form, action_url='', action_text='Submit', class_='', btn_class='btn btn-default') -%}
                 
                    <form method="POST" action="{{ action_url }}" role="form" class="{{ class_ }}">
                        {{ form.hidden_tag() if form.hidden_tag }}
                        {% if caller %}
                            {{ caller() }}
                        {% else %}
                            {% for f in form %}
                                {% if f.type == 'BooleanField' %}
                                    {{ render_checkbox_field(f) }}
                                {% elif f.type == 'RadioField' %}
                                    {{ render_radio_field(f) }}
                                {% else %}
                                    {{ render_field(f) }}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <button type="submit" class="{{ btn_class }}" style="background-color: #f05f40; width: 100%">{{ action_text }} </button>
                    </form>
                {%- endmacro %}

                <div class="col-lg-4 col-lg-offset-4">
                    <h2 class="login-message text-faded" style="font-weight: 700;">
                        Login
                    </h2>
                    {% call render_form(form, action_url=url_for('signin'), action_text='Login',
                                                class_='login-form') %}
                        {{ render_field(form.username, label_visible=false, placeholder='Username', type='text') }}
                        {{ render_field(form.password, label_visible=false, placeholder='Password', type='password') }}
                    {% endcall %}
                </div>
            </div>
        </div>
    </header>

    <section id="more-details">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">More Details</h2>
                    <hr class="primary">
                    <p>The goal of this project is create a semi-automated system for enforcing parking limits.  We use the <a href="http://www.dji.com/product/phantom-3-adv">DJI Phantom 3 Advanced</a> quadcopter to capture images of car license plates and use <a href="http://www.openalpr.com/">OpenALPR</a> to do the image processing.</p>
                </div>
                <div class="col-lg-4 text-center"></div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-external-link fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="https://quadcopterucd.wordpress.com/" target="_blank">Project Blog</a></p>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../static/js/jquery.easing.min.js"></script>
    <script src="../static/js/jquery.fittext.js"></script>
    <script src="../static/js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../static/js/creative.js"></script>

</body>

</html>
